body { margin:0; padding:0; }

#map { position:absolute; top:0; bottom:0; width:100%; }

#map {
    position: fixed;
    width:100%;
}

.scrolly_image {
    height: auto; 
    width: 40%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#features {
    padding-top: 0;
    padding-left: 3%;
    padding-right: 3%;
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: transparent;
}

.mg-marker {
  background-image: url('/scrolly-map-assets/icons/amp.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.map-chapter {
    padding-top: 20vh;
    padding-bottom: 80vh;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 0.99;   
}


.map-chapter.active {
}

.map-chapter:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}

.pretty_box {
    display: inline-block;
    width: 40%;
    padding: 20px;
    text-align: left;
    font-size: 15px;
    line-height: 140%;
    color: black;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 15px;
}

.scroll_prompt {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    padding-top: 40px;
    text-decoration: underline;
}

.header-wrapper {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;

}

.heading {
    padding: 0;
    font-size: 110px;
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
}

.sub_heading {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}

.block-header {
    font-size: 110px;
    color: #ffffff;
    text-align: center;
    border-style: solid;
    border-width: 7px;
}

mark {
    background-color: #000000;
    color: #000000;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 50px;
    }
  .sub_heading {
    font-size: 20px;
  }
  .pretty_box {
    width: 90%;
  }
  .block-header {
    font-size: 50px;
    }
.scrolly_image {
    height: auto; 
    width: 95%; 
    }
}







