body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

#map {
    position: fixed;
    width:100%;
}

.scrolly_image {
    height: auto; 
    width: 90%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#features {
    width: 50%;
    margin-left: 25%;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: transparent;
}

.scroll-notification {
    position: sticky;
    color: black;
    bottom: 0px;
}

.map-chapter {
    padding-top: 30vh;
    padding-bottom: 50vh;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 0.99;
}

.map-chapter.active {
}

.map-chapter:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}

.pretty_box {
    padding: 20px;
    text-align: left;
    font-size: 15px;
    line-height: 140%;
    color: black;
    background-color: #ffffff;
    opacity: 0.9;
    filter: alpha(opacity=90);
    border-style: solid;
    border-radius: 15px;
}

.scroll_prompt {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    padding-top: 40px;
    text-decoration: underline;
}

.heading {
    padding: 20px;
    font-size: 80px;
    color: #ffffff;
    text-align: center;

}

mark {
    background-color: #000000;
    color: #000000;
}






